<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--    Payment creditPayment = new CreditPaymentImpl();-->
    <!--    creditPayment.pay();-->
    <bean name="Trip" class="com.demo.TripImpl">
        <constructor-arg index="0" ref="car"/>
        <constructor-arg index="1" ref="driver"/>
        <constructor-arg index="2" ref="passenger"/>
    </bean>
    <bean id="car" class="com.demo.Car">
        <constructor-arg index="0" value="Toyota"/>
        <constructor-arg index="1" value="Economy"/>
    </bean>
    <bean id="driver" class="com.demo.Driver">
        <constructor-arg index="0" value="Robin Hood"/>
        <constructor-arg index="1" value="4.5"/>
    </bean>
    <bean id="passenger" class="com.demo.Passenger">
        <constructor-arg value="Jackie Chan"/>
    </bean>
</beans>